.App {
  background-image: url("https://res.cloudinary.com/dxvsvzsai/image/upload/v1684853052/background_p0ykfx.jpg");
  height: 100vh;
  background-size: cover;
  text-align: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center
}
.main-heading{
  margin: 0px;
  color: white;
  font-size: 50px;
}